 <!--  <div class="list" >
                <form ng-submit="walkin()">
                  <label class="item item-input width0 row">
                        <span class="input-label fontsize col col-40">Invoice No:</span>
                        <input type="text" class="col  col-50 walkin" placeholder="Your name">
                        <span class="col col-10"></span>
                    </label>
                    <label class="item item-input width0 row">
                        <span class="input-label fontsize col col-40">Customer ID:</span>
                        <input type="text" class="col  col-50 walkin" placeholder="Your name">
                        <span class="col col-10"></span>
                    </label>
                    <label class="item item-input width0 row">
                        <span class="input-label fontsize col col-40">Customer Name:</span>
                        <input type="text" class="col  col-50 walkin" placeholder="Your name">
                        <span class="col col-10"></span>
                    </label>
                    <label class="item item-input width0 row">
                        <span class="input-label fontsize col col-40">Phone Number:</span>
                        <input type="text" class="col  col-50 walkin" placeholder="Phone number">
                         <span class="col col-10"></span>
                    </label>
                    <label class="item item-input width0 row">
                        <span class="input-label fontsize col col-40">E-mail ID:</span>
                        <input type="text" class="col col-50 walkin" placeholder="E-mail ID">
                         <span class="col col-10"></span>
                    </label>
                    <label class="item item-input width0 row">
                        <span class="input-label fontsize col col-40">Address:</span>
                        <!-- <input type="textarea" class="col col-50 walkin" placeholder="Address"> -->
                       <!--  <textarea class="col col-50 walkin" placeholder="Address"></textarea>
                         <span class="col col-10"></span>
                    </label>
                    <label class="item item-input width0 row">
                        <span class="input-label fontsize col col-40">RM Name:</span>
                        <input type="text" class="col col-50 walkin" placeholder="RM name">
                         <span class="col col-10"></span>
                    </label>
                    <span class="item item-input width0 row">
                  <div class="col col-20"></div>
                  
                   <div class="col col-40">
                        <button ng-click="optionspage()" class="buttonColor  walkinEdit">
                            < Edit Details </button>
                                <button ng-click="continue()" class="buttonColor walkinEdit">
                                    Confirm >
                                </button> </div>
                    </span>
                </form>
            </div> --> 